

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GOODA</title>

    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

      </head>



<body>
<br><br>
<h1>GOODA</h1>
<h5>DO GOOD. EVERYDAY.</h5>

<br><br>
<div class="col"></div>
<div class= "col-md-6 offset-md-3 col-m-4 offset-m-4">
     <div class="container text-center">
  <div class="row align-items-start">
    <div class="row"></div>
    <div class="col">
      <div class="card shadow">
        <div class="card w-50"></div>
        <div class="card-body">
          <br><br>
          <h2 class="card-title">Today's fact</h2>
          <br>
          <p class="card-text">5.000.000 children <br>
            received education last year 
            <br> because of donations <br>
            by people like you.</p>
    <br><br><br><br>
    <a class="link" id="link2" href="/goodas">GOODAS</a>
                    <% if(!currentUser) { %>
                    <a class="link" id="link3" href="/login">Login</a>
                    <a class="link" id="link3" href="/register">Register</a>
                    <% } else { %>
                    <a class="link" id="link3" href="/logout">Logout</a>
                    <% } %>
                </nav>
            </div>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>
<div class="col"></div>
<div class= "col-md-6 offset-md-3 col-m-4 offset-m-4">
     <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">  
      <div class="card shadow" id="wit">
        <div class="card w-50"></div>
        <div class="card-body">
          <h1 id="wit"><GOODA</h1>
          <br><br>
          <h2 class="card-title">Today's motivation
          </h2>
          <br><br>
          <p class="card-text">Never look down
            <br> on anybody unless <br> you're helping <br>
            them up</p>
            <br><br><br><br><br><br>
            <a class=" link" id="link4" href="/goodas">GOODAS</a>
            <% if(!currentUser) { %>
            <a class="link" id="link5" href="/login">Login</a>
            <a class="link" id="link5" href="/register">Register</a>
            <% } else { %>
            <a class="link" id="link5" href="/logout">Logout</a>
            <% } %>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>

<div class="col"></div>
     <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">  
      <div class="card shadow">
        <div class="card w-50"></div>
        <div class="card-body">
          <h1><GOODA</h1>
          <br><br>
          <img src=https://res.cloudinary.com/dfofplzot/image/upload/v1664613499/gooda/gooda/vrijwilligster_2_koh7bk.avif
          alt="" class="card-img-top" />
          <br><br>
          <h2 class="card-title">Today's hero
          </h2>
          <br>
          <p class="card-text">Myriam did 
            <br> groceries for <br> the people in <br>
            an old age home</p>
            <br>
            <a class=" link" id="link6" href="/goodas">GOODAS</a>
            <% if(!currentUser) { %>
            <a class="link" id="link7" href="/login">Login</a>
            <a class="link" id="link7" href="/register">Register</a>
            <% } else { %>
            <a class="link" id="link7" href="/logout">Logout</a>
            <% } %>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>
<div class="col"></div>
<div class= "col-md-6 offset-md-3 col-m-4 offset-m-4">
     <div class="container text-center">
  <div class="row align-items-start">
    <div class="col">  
      <div class="card shadow" id="wit">
        <div class="card w-50"></div>
        <div class="card-body">
          <h1 id="wit"><GOODA</h1>
          <br><br>
          <h2 class="card-title">Today's organization
          </h2>
          <br><br>
          <p class="card-text">The World Food
            <br> Programme has fed<br> over 20 million<br>
            people this month<br>They recently won the<br>
          Nobel Peace Prize for their<br>efforts</p>
            <br><br><br>
            <a class=" link" id="link4" href="/goodas">GOODAS</a>
            <% if(!currentUser) { %>
            <a class="link" id="link5" href="/login">Login</a>
            <a class="link" id="link5" href="/register">Register</a>
            <% } else { %>
            <a class="link" id="link5" href="/logout">Logout</a>
            <% } %>
        </nav>
      </div>
    </div>
  </div>
</div>
</div>
<br><br>


</body>
</html>







<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GOODA</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">GOODA</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="/goodas">GOODAS</a>
                    <%# if(!currentUser) { %>
                    <a class="nav-link" href="/login">Login</a>
                    <a class="nav-link" href="/register">Register</a>
                    <%# } else { %>
                    <a class="nav-link" href="/logout">Logout</a>
                    <%# } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
      
            <p class="lead"> DO GOOD. EVERYDAY.
            <a href="/goodas" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">View
                GOODAS</a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; 2020 </p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>